* {
    box-sizing: border-box;
    margin: 0;
}

nav {
    height: 60px;
    background-color: teal;
    display: flex;
    align-items: center;
    padding: 30px;
    position: sticky;
    top: 0px;
    margin-bottom: 10px;
}

li {
    display: inline-block;
    background-color: bisque;
    padding: 8px;
    margin-left: 10px;
    border-radius: 10px;

}

h1 {
    color: aliceblue;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.left {
    margin-left: auto;
}

p {
    margin: 10px 20px;
    text-indent: 20px;
    text-align: justify;
}

section {
    display: flex;
}

aside {
    flex: 1;
}

main {
    flex: 3;

}

footer {
    color: aliceblue;
    text-shadow: 1px 1px black;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: rgb(1, 168, 168);
    position: fixed;
    width: 100%;
    bottom: 0px;
}