*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* text-align: center; */
    margin: 10px auto;
    color: black;
    padding: 10px;
}
input{
    display: block;
    padding: 10px;
    margin: 10px auto;
}
button{
    display: block;
    margin: 10px auto;
    padding: 10px 20px 10px 20px;
    background-color: violet;

}
h1{
    text-align: center;
}
div{
    border: 2px solid blanchedalmond;
}